In [56]:
#import libraries
from scipy.stats import ttest_1samp
from scipy.stats import norm # norm distribution
import scipy.stats
import math
from scipy.stats import t
import pandas as pd
import statistics as stats
import numpy as np

In [3]:
%ls

Inferential statistics - T-test & P-value.ipynb
RFM analysis worksheets.twbx
T-test.ipynb
dashboard practice.twbx
machine.csv
teaching book - calcs.twbx

In [6]:
#import file
file1 = pd.read_csv('machine.csv', sep = ';')


file1

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.0         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [ ]:
file1

In [8]:
n = len(file1)
n

10

In [10]:
new_mean =  sum(file1['New machine']) / n
new_mean

42.11

In [15]:
new_stdev = stats.stdev(file1['New machine'])
new_stdev

0.729459465022637

In [16]:
old_mean =  sum(file1['Old machine']) / n
old_mean

43.230000000000004

In [18]:
# statistic = (sample mean - pop_mean) / (sampl_std / sqrt(n-1))
statistic = (new_mean - old_mean) / (new_stdev / math.sqrt(n-1))
statistic

-4.606150390955232

In [53]:
# is this statistically significant? Significant of 0.05 is conventional

critical_value = norm.ppf(0.05)  # p-value = 0.05, from z ditribution
critical_value

-1.9599639845400545

In [44]:
file2 = pd.read_csv('student_gpa.csv', sep = ';')
file2
file2.columns

Index(['Sophomores', '  Juniors'], dtype='object')

In [51]:
## second excercise
n = 13
mean = np.mean(file2['  Juniors'])
pop_mean = np.mean(file2['Sophomores']) 
std = np.std(file2['  Juniors'])
degree_freedom = (17-1)+(13-1)

n
mean
pop_mean
std

0.29712627562812255

In [46]:
mean

2.980769230769231

In [47]:
pop_mean

2.84

In [48]:
std

0.29712627562812255

In [27]:
file2

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [54]:
statistic = (mean - pop_mean) / (std / math.sqrt(n-1))
statistic

1.641184101401088

In [60]:
# alternative
scipy.stats.ttest_ind(file1['Old machine'], file1['New machine'])

Ttest_indResult(statistic=3.385487090898397, pvalue=0.0032957327613441804)

In [59]:
# alternative
scipy.stats.ttest_ind(file2['Sophomores'], file2['  Juniors'])

Ttest_indResult(statistic=nan, pvalue=nan)